#mti_wfs_colophon{display:none !important}a{text-decoration:none}.clear{clear:both}h1{font-family:Futura W01 Bold;font-size:30px}div{color:#fff}p{color:#fff;line-height:23px;font-family:Proxima Nova Soft W03 Reg;font-size:15px}ul{font-family:Proxima Nova Soft W03 Reg;font-size:15px}