.col {
	display: block;
	float: left;
	margin: 0 0 0 1.6%;
	&:first-child {
		margin-left: 0;
	}
}
.row {
	width: 1000px;
	clear: both;
	margin: 0 auto;
	*zoom: 1;
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.grid-12 {
	width: 100%;
}
.grid-11 {
	width: 91.46%;
}
.grid-10 {
	width: 83%;
}
.grid-9 {
	width: 74.54%;
}
.grid-8 {
	width: 66.08%;
}
.grid-7 {
	width: 57.62%;
}
.grid-6 {
	width: 49.16%;
}
.grid-5 {
	width: 40.7%;
}
.grid-4 {
	width: 32.24%;
}
.grid-3 {
	width: 23.78%;
}
.grid-2 {
	width: 15.32%;
}
.grid-1 {
	width: 6.86%;
}