
//@extend-elements
//original selectors
//.wpcf7 input, .wpcf7 textarea
%extend_1 {
	border: none;
	padding: 10px 5px;
	color: $color_gravel_approx;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 3px;
}


.line {
	width: 100%;
	height: 3px;
}
.price-line {
	width: 100%;
	height: 1px;
	background: $color_roman_coffee_approx;
}
.home-slide {
	background: $color_tiber_approx $url_0;
}
.about-slide {
	background: $url_1;
	h1 {
		color: $color_aquamarine_approx;
		margin: 2px 0;
	}
	.line {
		background: $color_aquamarine_approx;
	}
}
.services-slide {
	background: $url_2;
	h1 {
		color: $color_macaroni_and_cheese_approx;
		margin: 2px 0;
	}
	h2 {
		color: $color_wheat_approx;
		font-size: 19px;
	}
	.line {
		background: $color_macaroni_and_cheese_approx;
	}
	.grid-6 {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	ul {
		padding-right: 20px;
	}
	li {
		margin-bottom: 11px;
		line-height: 18px;
		font-size: 16px;
	}
}
.contact-slide {
	background: $url_3;
	h1 {
		color: $color_spray_approx;
		margin: 2px 0;
	}
	.line {
		background: $color_spray_approx;
	}
}
.section {
	background-size: cover;
	li {
		list-style: none;
		margin-bottom: 15px;
		line-height: 15px;
		&:before {
			content: "-";
			position: relative;
			margin-left: -5px;
			left: -10px;
		}
	}
}
.image-gallery {
	li:before {
		content: "";
		margin-left: 0px;
		left: 0px;
	}
}
.logo {
	margin: 0 auto;
	width: 50%;
	display: block;
}
.price-container {
	display: table;
	margin-top: 10px;
}
.price {
	text-align: center;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 50%;
	width: 150px;
	height: 150px;
	display: table-cell;
	vertical-align: middle;
	color: $color_macaroni_and_cheese_approx;
}
.pnumber {
	font-size: 40px;
	font-family: $font_0;
	margin-left: -5px;
	letter-spacing: -2px;
}
.services-border {
	border-right: solid 1px $color_roman_coffee_approx;
	margin-right: -1px;
}
.contact-info {
	font-size: 18px;
}
.wpcf7 {
	input {
		@extend %extend_1;
	}
	textarea {
		@extend %extend_1;
	}
}
.wpcf7-text {
	width: 95%;
}
.wpcf7-textarea {
	width: 95%;
}
.wpcf7-submit {
	background: $color_spray_approx;
	width: 15%;
	margin-right: 18px;
	text-transform: uppercase;
	float: right;
	display: block;
	font-size: 17px;
	font-family: $font_0;
	&:hover {
		background: $color_bright_turquoise_approx;
	}
}
li span {
	color: $color_wheat_approx;
}
.acf_postbox .field {
	input[type="text"] {
		padding: 0 !important;
	}
	input[type="number"] {
		padding: 0 !important;
	}
	input[type="password"] {
		padding: 0 !important;
	}
	input[type="email"] {
		padding: 0 !important;
	}
	textarea {
		padding: 0 !important;
	}
}

.home-splash {
	padding: 15em 0;
	background-repeat: no-repeat;
	background-size: cover;
}