// Breakpoints
@mixin breakpoint($point) {
  @if $point == lt-tablet {
    @media all and (max-width: 767px) { @content; }
  }
  @if $point == tablet {
    @media all and (min-width: 768px) { @content; }
  }
  @if $point == lt-desktop {
    @media all and (max-width: 979px) { @content; }
  }
  @else if $point == desktop {
    @media all and (min-width: 980px) { @content; }
  }
   @else if $point == lt-widescreen {
    @media all and (max-width: 1100px) { @content; }
  }
  @else if $point == widescreen {
    @media all and (min-width: 1500px) { @content; }
  }
  @else if $point == ipad-portrait {
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) { @content; }
  }
  @else if $point == ipad-landscape {
   @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) { @content; }
  }
}


// Vendor Prefixes - from: http://www.stefanwienert.de/blog/2012/05/18/easy-css-vendor-prefix-mixin-for-sass/
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}