@media only screen and(max-width: 768px) {
	.row {
		width: 100%;
	}
	.grid-12 {
		width: 90%;
		margin: 0 auto;
	}
	.grid-11 {
		width: 90%;
		margin: 0 auto;
	}
	.grid-10 {
		width: 90%;
		margin: 0 auto;
	}
	.grid-9 {
		width: 90%;
		margin: 0 auto;
	}
	.grid-8 {
		width: 90%;
		margin: 0 auto;
	}
	.grid-7 {
		width: 90%;
		margin: 0 auto;
	}
	.grid-6 {
		width: 90%;
		margin: 0 auto;
	}
	.grid-5 {
		width: 90%;
		margin: 0 auto;
	}
	.grid-4 {
		width: 90%;
		margin: 0 auto;
	}
	.grid-3 {
		width: 90%;
		margin: 0 auto;
	}
	.grid-2 {
		width: 90%;
		margin: 0 auto;
	}
	.grid-1 {
		width: 90%;
		margin: 0 auto;
	}
	.col {
		float: none;
		&:first-child {
			margin-left: auto;
		}
	}
	#menu {
		width: 90%;
		li a {
			font-size: 14px;
		}
	}
	.price-container {
		text-align: center;
		display: block;
	}
	.services-border {
		border: none;
	}
	.price-line {
		display: none;
	}
	.wpcf7-submit {
		width: 50%;
		float: none;
		margin: 0 auto;
		padding-bottom: 15px;
	}
	.topnav col:first-child {
		margin-left: 0;
	}
}
@media only screen and(max-width: 480px) {
	.logo {
		width: 70%;
	}
}