.page {
	background-image: url(images/home-page2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.image-gallery {
	ul {
		margin: 0;
		padding-bottom: 3em;
	}

	li {
		list-style: none;
	}

	img {
		@include breakpoint(lt-tablet) {
			margin: 0 auto;
			display: block;
		}
	}

	li:nth-of-type(4n+1) {
		clear: both;
		margin-left: 0;
	}
}

.mfp-container {
	z-index: 100;
}