//colors
$color_roman_coffee_approx: #806744;
$color_tiber_approx: #00333f;
$color_aquamarine_approx: #7affc2;
$color_macaroni_and_cheese_approx: #ffc87a;
$color_wheat_approx: #f8dcb3;
$color_spray_approx: #7aebff;
$color_gravel_approx: #474747;
$color_bright_turquoise_approx: #00d9ff;
$white: #fff;

//fonts
$font_0: Futura W01 Bold;
$font_1: Proxima Nova Soft W03 Reg;
$font_century: Century Gothic W01;
$font_century_bold: Century Gothic W01 Bold;

//urls
$url_0: url(images/home-page2.jpg);
$url_1: url(images/about-page.jpg);
$url_2: url(images/services-page.jpg);
$url_3: url(images/contact-page.jpg);
$url_nav-bg: url(images/nav-bg.png);


