/* =Grid
-----------------------------------------------------------------------------*/
.units-container, 
.units-row {
    @include clearfix;
}
.units-container { /* it's the trick to not collapse padding-top in the child element */
    padding-top: 1px;
    margin-top: -1px;
    width: $gridWidth;
    margin: 0 auto;

   @include breakpoint(lt-desktop) {
      width: 768px;
   }

    @include breakpoint(lt-widescreen) { 
        width: 100%;
        padding: 0 1.2em;
    }
}
.units-row {
    @include rem('margin-bottom', $baseLineInEms);
    position: relative;
}

.width-100, .unit-100 { width: 100%;  }
.width-90, .unit-90   { width: 90%;   }
.width-80, .unit-80   { width: 80%;   }
.width-75, .unit-75   { width: 75%;   }
.width-70, .unit-70   { width: 70%;   }
.width-66, .unit-66   { width: 66.6%; }
.width-65, .unit-65   { width: 65%;   }
.width-60, .unit-60   { width: 60%;   }
.width-50, .unit-50   { width: 50%;   }
.width-40, .unit-40   { width: 40%;   }
.width-35, .unit-35   { width: 35%;   }
.width-33, .unit-33   { width: 33.3%; }
.width-30, .unit-30   { width: 30%;   }
.width-25, .unit-25   { width: 25%;   }
.width-20, .unit-20   { width: 20%;   }
.width-15, .unit-15   { width: 15%;   }
.width-10, .unit-10   { width: 10%;   }

input.width-100,
input.unit-100    { width: 98.6%; }
textarea.width-100,
textarea.unit-100 { width: 98.8%; }
select.width-100,
select.unit-100   { width: 99.4%; }

.units-row .unit-90,
.units-row .unit-80,
.units-row .unit-75,
.units-row .unit-70,
.units-row .unit-66,
.units-row .unit-65,
.units-row .unit-60,
.units-row .unit-50,
.units-row .unit-40,
.units-row .unit-35,
.units-row .unit-33,
.units-row .unit-30,
.units-row .unit-25,
.units-row .unit-20,
.units-row .unit-15,
.units-row .unit-10 {
    float: left;
    margin-left: 2.5%;
    &:first-child {
        margin-left: 0;
    }
}
.units-row .unit-90 { @include columns(9, 10); }
.units-row .unit-80 { @include columns(4, 5); }
.units-row .unit-75 { @include columns(3, 4); }
.units-row .unit-70 { @include columns(7, 10); }
.units-row .unit-66 { @include columns(2, 3); }
.units-row .unit-65 { @include columns(2, 3); }
.units-row .unit-60 { @include columns(3, 5); }
.units-row .unit-50 { @include column(2); }
.units-row .unit-40 { @include columns(2, 5); }
.units-row .unit-35 { @include column(3); }
.units-row .unit-33 { @include column(3); }
.units-row .unit-30 { @include columns(3, 10); }
.units-row .unit-25 { @include column(4); }
.units-row .unit-20 { @include column(5); }
.units-row .unit-15 { @include column(6.6111111); }
.units-row .unit-10 { @include columns(1, 10); }

.unit-push-90,
.unit-push-80,
.unit-push-75,
.unit-push-70,
.unit-push-66,
.unit-push-65,
.unit-push-60,
.unit-push-50,
.unit-push-40,
.unit-push-35,
.unit-push-33,
.unit-push-30,
.unit-push-25,
.unit-push-20,
.unit-push-10 {
    position: relative;
}
.unit-push-90 { @include columns-push(9, 10); }
.unit-push-80 { @include columns-push(4, 5); }
.unit-push-75 { @include columns-push(3, 4); }
.unit-push-70 { @include columns-push(7, 10); }
.unit-push-66 { @include columns-push(2, 3); }
.unit-push-65 { @include columns-push(2, 3); }
.unit-push-60 { @include columns-push(3, 5); }
.unit-push-50 { @include column-push(2); }
.unit-push-40 { @include columns-push(2, 5); }
.unit-push-35 { @include column-push(3); }
.unit-push-33 { @include column-push(3); }
.unit-push-30 { @include columns-push(3, 10); }
.unit-push-25 { @include column-push(4); }
.unit-push-20 { @include column-push(5); }
.unit-push-10 { @include columns-push(1, 10); }

.units-row .unit-push-right {
    float: right;
}

.centered,
.unit-centered {
    float: none !important;
    margin: 0 auto !important;
}

.unit-padding {
    @include rem('padding', $baseLineInEms);
}
.units-padding .unit-100,
.units-padding .unit-90,
.units-padding .unit-80,
.units-padding .unit-75,
.units-padding .unit-70,
.units-padding .unit-66,
.units-padding .unit-65,
.units-padding .unit-60,
.units-padding .unit-50,
.units-padding .unit-40,
.units-padding .unit-35,
.units-padding .unit-33,
.units-padding .unit-30,
.units-padding .unit-25,
.units-padding .unit-20,
.units-padding .unit-15,
.units-padding .unit-10 {
    @include rem('padding', $baseLineInEms);
}

.units-split .unit-90,
.units-split .unit-80,
.units-split .unit-75,
.units-split .unit-70,
.units-split .unit-66,
.units-split .unit-65,
.units-split .unit-60,
.units-split .unit-50,
.units-split .unit-40,
.units-split .unit-35,
.units-split .unit-33,
.units-split .unit-30,
.units-split .unit-25,
.units-split .unit-20,
.units-split .unit-15,
.units-split .unit-10 {
    margin-left: 0;
}
.units-split .unit-90 { width: 90%;   }
.units-split .unit-80 { width: 80%;   }
.units-split .unit-75 { width: 75%;   }
.units-split .unit-70 { width: 70%;   }
.units-split .unit-66 { width: 66.6%; }
.units-split .unit-65 { width: 65%;   }
.units-split .unit-60 { width: 60%;   }
.units-split .unit-50 { width: 50%;   }
.units-split .unit-40 { width: 40%;   }
.units-split .unit-35 { width: 35%;   }
.units-split .unit-33 { width: 33.3%; }
.units-split .unit-30 { width: 30%;   }
.units-split .unit-25 { width: 25%;   }
.units-split .unit-20 { width: 20%;   }
.units-split .unit-10 { width: 10%;   }


/* =Responsive
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {

    .mobile-width-100 {
        width: 100%;
    }

    .units-row .unit-90,
    .units-row .unit-80,
    .units-row .unit-75,
    .units-row .unit-70,
    .units-row .unit-66,
    .units-row .unit-65,
    .units-row .unit-60,
    .units-row .unit-50,
    .units-row .unit-40,
    .units-row .unit-35,
    .units-row .unit-33,
    .units-row .unit-30,
    .units-row .unit-25,
    .units-row .unit-20,
    .units-row .unit-15,
    .units-row .unit-10 {
        width: 100%;
        float: none;
        margin-left: 0;
        /* @include rem('margin-bottom', $baseLineInEms); */
    }

    .unit-push-90,
    .unit-push-80,
    .unit-push-75,
    .unit-push-70,
    .unit-push-66,
    .unit-push-65,
    .unit-push-60,
    .unit-push-50,
    .unit-push-40,
    .unit-push-35,
    .unit-push-33,
    .unit-push-30,
    .unit-push-25,
    .unit-push-20,
    .unit-push-10 {
        left: 0;
    }

    .units-row .unit-push-right {
        float: none;
    }

    .units-mobile-50 .unit-90,
    .units-mobile-50 .unit-80,
    .units-mobile-50 .unit-75,
    .units-mobile-50 .unit-70,
    .units-mobile-50 .unit-66,
    .units-mobile-50 .unit-65,
    .units-mobile-50 .unit-60,
    .units-mobile-50 .unit-50,
    .units-mobile-50 .unit-40,
    .units-mobile-50 .unit-30,
    .units-mobile-50 .unit-35,
    .units-mobile-50 .unit-33,
    .units-mobile-50 .unit-25,
    .units-mobile-50 .unit-20,
    .units-mobile-50 .unit-15,
    .units-mobile-50 .unit-10 {
        float: left;
        margin-left: $gridGutterWidth/($gridWidth/100)*1%;
        @include column(2);
    }
    .units-mobile-50 .unit-90:first-child,
    .units-mobile-50 .unit-80:first-child,
    .units-mobile-50 .unit-75:first-child,
    .units-mobile-50 .unit-70:first-child,
    .units-mobile-50 .unit-66:first-child,
    .units-mobile-50 .unit-65:first-child,
    .units-mobile-50 .unit-60:first-child,
    .units-mobile-50 .unit-50:first-child,
    .units-mobile-50 .unit-40:first-child,
    .units-mobile-50 .unit-35:first-child,
    .units-mobile-50 .unit-30:first-child,
    .units-mobile-50 .unit-33:first-child,
    .units-mobile-50 .unit-25:first-child,
    .units-mobile-50 .unit-20:first-child,
    .units-mobile-50 .unit-10:first-child {
        margin-left: 0;
    }

}
