/*
Theme Name: Twenty Thirteen
Theme URI: http://wordpress.org/themes/twentythirteen
Author: the WordPress team
Author URI: http://wordpress.org/
Description: The 2013 theme for WordPress takes us back to the blog, featuring a full range of post formats, each displayed beautifully in their own unique way. Design details abound, starting with a vibrant color scheme and matching header images, beautiful typography and icons, and a flexible layout that looks great on any device, big or small.
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, fluid-layout, responsive-layout, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: twentythirteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* GLOBAL */
#mti_wfs_colophon { display: none !important; }
a { text-decoration: none; }
.clear { clear: both; }
h1 { font-family:'Futura W01 Bold'; font-size: 30px; }
div, p { color: #fff; }
p { line-height: 23px;  }
ul, p { font-family:'Proxima Nova Soft W03 Reg'; font-size: 15px;  }


/* GRID */
.col { display: block; float:left; margin: 0 0 0 1.6%; }

/* Remove the margin on the first column. Works on all browsers incl. IE7+  */
.col:first-child { margin-left: 0; } 

.row { width: 1000px;  clear: both; margin: 0 auto; *zoom: 1; }

.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }


.grid-12 { width: 100%; }
.grid-11 { width: 91.46%; }
.grid-10 { width: 83%; }
.grid-9  { width: 74.54%; }
.grid-8 { width: 66.08%; }
.grid-7  { width: 57.62%; }
.grid-6  { width: 49.16%; }
.grid-5  { width: 40.7%; }
.grid-4  { width: 32.24%; }
.grid-3  { width: 23.78%; }
.grid-2  { width: 15.32%; }
.grid-1  { width: 6.86%; }


/* NAVIGATION */
.topnav { background: url('images/nav-bg.png') repeat; position: fixed; width: 100%; z-index: 80; left: 0px; top: 0px;  }
#menu { display: table;  width: 920px; position: relative;  }
#menu li { display: table-cell; text-align: center; list-style: none; }
#menu li a { color: #fff; font-size: 18px; font-family:'Century Gothic W01'; font-weight: 400; }
#menu li.active a { font-family:'Century Gothic W01 Bold';  }

/* HOMEPAGE */
.line { width: 100%; height: 3px; }
.price-line { width: 100%; height: 1px; background: #806744; }
.home-slide { background: #00333f url('images/home-page2.jpg');  }
.about-slide { background:  url('images/about-page.jpg'); }
.about-slide h1 { color: #7affc2; margin: 2px 0; }
.about-slide .line { background: #7affc2; }
.services-slide { background:  url('images/services-page.jpg'); }
.services-slide h1 { color: #ffc87a; margin: 2px 0; }
.services-slide h2 { color: #F8DCB3; font-size: 19px;  }
.services-slide .line { background: #ffc87a; }
.services-slide .grid-6 { margin-top: 20px; margin-bottom: 20px;  }
.services-slide ul { padding-right: 20px; }
.contact-slide { background:  url('images/contact-page.jpg'); }
.contact-slide h1 { color: #7aebff; margin: 2px 0; }
.contact-slide .line { background: #7aebff; }
.section { background-size: cover;}
.section li { list-style: none; margin-bottom: 15px; line-height: 15px; }
.section li:before { content:"-"; position:relative; margin-left: -5px; /* optional, for multiline li element */ left: -10px; }
li span { color: #F8DCB3; }
.logo { margin: 0 auto; width: 50%; display: block; }

/* SERVICES */
.price-container { display: table; margin-top: 10px; }
.price { text-align: center; border-radius: 50%; width: 150px; height: 150px; 
	     display:table-cell; vertical-align:middle; color: #ffc87a;   }
.pnumber { font-size: 40px; font-family:'Futura W01 Bold'; margin-left: -5px; letter-spacing: -2px; }
.services-border { border-right: solid 1px #806744; margin-right: -1px; }
.services-slide li { margin-bottom: 11px; line-height: 18px; font-size: 16px; }

/* CONTACT */
.contact-info { font-size: 18px; }
.wpcf7 input, .wpcf7 textarea { border: none; padding: 10px 5px; color: #474747; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.wpcf7-text, .wpcf7-textarea { width: 95%; }
.wpcf7-submit { background: #7AEBFF; width: 15%; margin-right: 18px; text-transform: uppercase;
	            float: right; display: block; font-size: 17px; font-family: 'Futura W01 Bold'; }
.wpcf7-submit:hover { background: #00D9FF;  }


.acf_postbox .field input[type="text"], .acf_postbox .field input[type="number"], .acf_postbox .field input[type="password"], .acf_postbox .field input[type="email"], .acf_postbox .field textarea { padding: 0px !important; }


@media only screen and (max-width: 768px) { 

.row { width: 100%; }
.grid-12, .grid-11, .grid-10, .grid-9, .grid-8, .grid-7, .grid-6, .grid-5, .grid-4, .grid-3, .grid-2, .grid-1 { width: 90%; margin: 0 auto; }
.col { float: none; }
.col:first-child { margin-left: auto; } 

/* NAVIGATION */
.topnav col:first-child { margin-left: 0px; }
#menu { width: 90%; }
#menu li a { font-size: 14px; }
.price-container { text-align: center; display: block; }

/* SERVICES */
.services-border { border: none; }
.price-line { display: none; }

/* CONTACT */
.wpcf7-submit { width: 50%; float: none; margin: 0 auto; padding-bottom: 15px; }

}

@media only screen and (max-width: 480px) {

	.logo { width: 70%; }

 }

